<!DOCTYPE html>
<html>
	<head>
		<title>学习数据前后端交互的代码</title>
		<style>
			ul li {
				list-style:none;
				width:1000px;
				height:120px;
				overflow:hidden;
				border:1px solid #ccc;
				margin: 20px auto;
				display:flex;
			}
			
			ul li img {
				width:100px;
				flex:1;
			}
			ul li span {
				flex:1;
			}
		</style>
	<head>
	<body>
			<h1>hello express</h1>
			<%for(var i = 0 ; i < data.length ; i++){%>
				<ul>
						<li> 
								<span><%=data[i].title%></span>
								<span><%=data[i].content%></span>
								<img src="<%=data[i].src%>" />
						</li>
				</ul>
			<%}%>
	</body>
</html>
